/* COMÚN PARA TODAS LAS PÁGINAS */

/* ENLACES DE ARRIBA */
#enlaces
{
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: dashed;
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    margin-bottom: 70px;
    

}
#Home, #Productos, #About, #Buy, #Envios
    {
        margin-left: 130px;
        padding:23px;
        color: black;
        text-decoration: none;
    }
    /* TITULO DE LA PAGINA*/
    h1 {
        text-align: center;
        font-size: 100px;
    }

    /* imagen de los corazones */
#estas {
    width: 40%;
    padding-left: 30%;
    padding-bottom: 10%;
    }


    /* IMAGENES EN GENERAL */

    #imagen, #imagenes {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }


    /*imagen de la chica en la playa*/
    #banner {
        width: 100%;
        object-fit: cover;
    }
   
    /*productos destacados  */ 

    .columna{
        float: left;
        width: 33%;
        text-align: center;
        padding-bottom: 50px;
        
    
    }
    
    .fila::after {
        clear: both;
        display:inline-table;
        padding-bottom: 50px;
        
    }
    
    * figcaption{
        text-align: center;
        
    }
    
    /*LO QUE MEJOR SE ADAPTE A VOS */
    
    h3 {
   
    text-align: center;
    font-size: 40px;
    margin-top: 35%;

    }

    /* enlaces de abajo con fotos que redireccionan */
    
    #enlaces2 {
    text-transform: uppercase;
    text-decoration-style: dashed;
    font-size: 15px;
    line-height: 8px;
    margin-bottom: 35px;
    margin-left: 100px;
    color:black;
    }

    #Cuidado1  {
        text-decoration: none;
        margin-right: 350px;
        color: black;
        }

    #Cuidado2  {
        text-decoration: none;
        margin-right: 350px;

        color:black;
    }

    #Cuidado3, #volver  {
        text-decoration: none; 
        color: black;
    }



    /* botones en gral */
    * button {
        margin-left: 8px;
    }

    /*texto que separa la secciones */

    p {
        font-size: 20px;
        font-family: Verdana, serif;
        opacity: 70%;
        
    }

/*sigamos conectadas */
#sigamos {
    font-size: 30px;
    text-align: center;
    font-family:pacifico, sans-serif;
    opacity: 100%;
}

/*form para mail */
#conectadas {
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
}



#gracias {
    margin-top: 80px;
}

#homeA {
    text-decoration: none;
    color: black;
}

#destacados{
    padding-top: 40px;
    padding-bottom: 20px;
    
}

#titulo {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-transform: none;
    opacity: 100%;
    
}

#estano {
    width: 300px;
    padding-left: 500px;
    padding-top: 0%;
}

h4 {
    font-size: 50px;
}

#sobre {
    font-size: 20px;
}

#dogliani {
    object-fit: cover;
    width: 60%;
    padding-left: 20%;
}


.columnaUno {
    float: left;
    width: 48%;
    text-align: left;
    padding-bottom: 50px;
    column-span: all;
    display: block;
    
    

}

.filaUno::after {
   
    display:block;
    column-span: all;
    
    
}

.columnaDos {
    float: right;
    width: 48%;
    text-align: left;
    display: block;
    column-span: all;
    
}
